<main id="main" class="main">
  <div class="pagetitle">
    <h1>Dashboard</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
        <li class="breadcrumb-item active">Dashboard</li>
      </ol>
    </nav>
  </div>
  <section class="section contact">
    <div class="row gy-4">
      <div class="col-xl-12">
        <div class="row">
          <div class="col-md-4">
            <div class="info-box card">
              <i class="bi bi-linkedin"></i>
              <h3>Connect At</h3>
              <p>
                <a href="https://www.linkedin.com/in/bharghav-r" target="_blank"
                  >www.linkedin.com/in/bharghav-r</a
                >
              </p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="info-box card">
              <i class="bi bi-telephone"></i>
              <h3>Call Me</h3>
              <p><a href="tel:+91-7904895653">+91-7904895653</a></p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="info-box card">
              <i class="bi bi-envelope"></i>
              <h3>Email Me</h3>
              <p>
                <a href="mailto: bharghavraman8@gmail.com"
                  >bharghavraman8@gmail.com</a
                >
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section dashboard">
    <div class="row">
      <div class="col-xl-12">
        <div class="card info-card customers-card m-0 p-0">
          <img
            class="resume"
            src="assets/img/bharghav-resume.jpg"
            alt="resume"
          />
        </div>
      </div>
    </div>
  </section>
</main>
